body{
    margin: 0;
    background-color: black;;
    font-family: sans-serif;

}
header{
    width: 100;
    height: 80px;
    background-color: #1a1a1a;
}
.PhotoGallery{
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 70px;
    padding: 20px;
}
.PhotoGallery img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.PhotoGallery .item p{
    color: white;
}
.PhotoGallery .item p{
    color: white;
}
.PhotoGallery .item p{
    color: white;
}
.PhotoGallery .item p{
    color: white;
}
.PhotoGallery .item p{
    color: white;
}
.PhotoGallery .item p{
    color: white;
}
.PhotoGallery .item p{
    color: white;
}
.PhotoGallery .item p{
    color: white;
}
.PhotoGallery .item p{
    color: white;
}
.PhotoGallery .item p{
    color: white;
}
.PhotoGallery .item p{
    color: white;
}
.PhotoGallery .item p{
    color: white;
}
.PhotoGallery .item p{
    color: white;
}

<!--Button-->
.price-row{
    color: goldenrod;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-row span{
    margin-left: 10px;
}

.buy-btn{
    background-color: goldenrod;
    color: black;
    border: none;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.buy-btn:hover{
    background-color: #c49700;
}