body{
    background-color: black;
}
h1{
    color:goldenrod;
    font-weight: bold;
}
p{
    color: white;
    font-size: 25px;
    font-style: italic;
    font-weight: 100;

}

h1{
    color: goldenrod;
    font-weight: bold;
}

p{
    color: white;
    font-size: 25px;
    font-style: italic;
    font-weight: 100;

}

p{
    color: white;
    font-size: 25px;
    font-style: italic;
    font-weight: 100;

}

h1{
    color: goldenrod;
    font-weight: bold;
}

.Achievementgallery{
   display: flex;
   gap: 50px;
   flex-wrap: nowrap;

}
.achievement-card{
   flex: 0 0 auto;
   width: 150px;
}
.achievement-card img{
   width: 100%; /* makes image fit card */
    display: block;
}