.footer {
    background-color: #0d0d0d;
    padding: 40px 0;
    color: white;
    border-top: 2px solid #222;
}

.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}
.social-icons {
    margin-top: 10px;
}

.footer-section {
    width: 30%;
    min-width: 250px;
}

.footer-logo {
    width: 120px;
    margin-bottom: 10px;
}

.social-title {
    color: goldenrod;
    margin-top: 10px;
    font-weight: bold;
}

.social-icons img {
    width: 35px;
    margin-right: 10px;
}

.footer-heading {
    color: goldenrod;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer-links a:hover {
    color: goldenrod;
}
