
body {
    background: #0e0e0e;
    color: white;
    font-family: "Inria Serif" , sans-serif;
    margin: 0;
}

h2,h3{
    margin:0;
    font-family: "Instrument Sans", sans-serif;
}

 p {
    margin: 0;
}


/* checkout start */

.container {
    padding: 40px 80px;
}

.title {
    color: gold;
    font-size: 40px;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: space-between;
}

/* user info for billing */
.billbox {
    width: 55%;
}

.billbox h3 {
    font-size: 26px;
    color: gold;
    margin-bottom: 20px;
}

/* Input fields */
.inprow {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    position: relative;
}

.inprow input {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid gold;
    border-radius: 8px;
    color: white;
}


.required {
    position: absolute;
    right: 12px;
    color: #ff5757;
    font-size: 14px;
}




/* payment methods */
.paytitle {
    margin-top: 20px;
    color: gold;
    font-size: 24px;
}

.req2 {
    color: #ff5757;
    font-size: 14px;
    margin-left: 10px;
}


.paybtn {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.paybtn button {
    background: transparent;
    border: 2px solid gold;
    padding: 10px 20px;
    border-radius: 10px;
    color: gold;
    font-size: 16px;
    cursor: pointer;
}

/* order summary */

.summarybox {
    width: 30%;
}

.summarytitle {
    font-size: 26px;
    color: gold;
    margin-bottom: 20px;
}

.price {
    color: gold;
    margin-bottom: 15px;
}

/* Total Cost*/
.cost p {
    margin-bottom: 12px;
}

.cost span {
    float: right;
}

.total {
    margin-top: 20px;
    font-size: 22px;
    color: gold;
    font-weight: bold;
}

/* place order button */
.placebtn {
    width: 100%;
    background: gold;
    border: none;
    padding: 12px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

