body {
    background-color: #111;
    color: white;
    font-family: Arial;
    padding: 20px;
}

/* Filter Button */
.filter {
    background-color: goldenrod;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    margin-bottom: 20px;
}

/* Product Grid */
.ProductGallery {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 25px;
}

/* Product Card */
.card {
    background-color: #1c1c1c;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 12px rgba(255, 215, 0, 0.3);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
}

/* Text Styling */
.card h3 {
    font-size: 18px;
    margin: 10px 0 5px;
}

.price {
    color: goldenrod;
    font-size: 20px;
    margin: 5px 0;
}

.stars {
    margin: 5px 0 15px;
    color: gold;
}

/* Buy Button */
.buy-btn {
    background-color: goldenrod;
    color: black;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.buy-btn:hover {
    background-color: white;
    color: black;
}
.H1{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
